body {
   
}
nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}
ul {
    display: flex;
   text-overflow: initial;
   
}
a {
    color: rgb(206, 206, 206);
    display: flex;
    justify-content: space-between;
   
    text-decoration: none;
}
.nav-btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 40px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
 .container {
     width: 300px;
     height: 400px;
     background-color: none;
     position: absolute;
     top: -75px;
     left: calc(70% - -27px);
     
 }
 .container-img {
     width: 454px;
     height: 626px;
     position: absolute;
     top: -50px;
     left: calc(67px - 67px);
 }

 

.container2 {
    width: 300px;
    height: 400px;
    background-color: none;
    position: absolute;
    top: -85px;
    left: calc(60% - -27px);
    
}
.container-img2 {
    width: 554px;
    height: 626px;
    position: absolute;
    top: -59px;
    left: calc(117px - 67px);
}
.cont3 {
    display: block;
    justify-content: center;
    height: 350px;
    width: 450px;
    background-color: none;
    position: absolute;
    left: 20%;
}
.button {
    border-radius: 30px;
    height: 30px;
    width: 100px;
    color: black;
    background-color: aquamarine;
}
.cont4 {
    display: block;
    justify-content: center;
    height: 300px;
    width: 450px;
    background-color: none;
    position: absolute;
    top: 57%;
    left: 20%;
}
.small1 {
    display: block;
    justify-content: center;
    height: 250px;
    width: 200px;
    background-color: none;
    position: absolute;
    top: 100%;
    left: 37%;
}
.small2 {
    display: block;
    justify-content: center;
    height: 250px;
    width: 200px;
    background-color: none;
    position: absolute;
    top: 100%;
    left:54%;
}
.small3 {
    display: block;
    justify-content: center;
    height: 250px;
    width: 200px;
    background-color: none;
    position: absolute;
    top: 100%;
    left: 71%;
}
.small4 {
    display: block;
    justify-content: center;
    height: 250px;
    width: 200px;
    background-color: none;
    position: absolute;
    top: 100%;
    left: 20%;
}
.small-img {
    height: 50px;
    width: 60px;
    border-radius: 50px;
}
.last1 {
    display: block;
    justify-content: center;
    height: 350px;
    width: 200px;
    background-color: none;
    position: absolute;
    top: 145%;
    left: 20%;
}
.last2 {
    display: block;
    justify-content: center;
    height: 350px;
    width: 200px;
    background-color: none;
    position: absolute;
    top: 145%;
    left: 37%;
}
.last3 {
    display: block;
    justify-content: center;
    height:350px;
    width: 200px;
    background-color: none;
    position: absolute;
    top: 145%;
    left:54%;
}
.last4 {
    display: block;
    justify-content: center;
    height: 350px;
    width: 200px;
    background-color: none;
    position: absolute;
    top: 145%;
    left:  71%;
}
.article {
    height: 30px;
    width: 300px;
    background-color: none;
    position: absolute;
    top: 135%;
    left: 20%;
}
.last-img {
    height: 200px;
    width: 200px;
}
footer {
    background-color: rgb(129, 129, 129);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 215%;
    width: 100%;
   
}
.olfooter {
    
    
}
.icon-footer {
    display: flex;
}
s
